<div class="certificate-verification-heading">
    <h3>
        {{ variables.texts.heading | raw }}
    </h3>
    <ul class="certificate-buttons">
        <li>
            <h1>
                <a href="#" data-screen-id="#certificate-verification-certificate-without-endorsement">{{ variables.texts['button-certificate-only'] }}</a>
            </h1>
        </li>
        <li>
            <h1>
                <a href="#" data-screen-id="#certificate-verification-certificate-with-endorsement">{{ variables.texts['button-certificate-with-endorsment'] }}</a>
            </h1>
        </li>
        <li>
            <h1>
                <a href="#" data-screen-id="#certificate-verification-endorsement-only">{{ variables.texts['button-endrosement-only'] }}</a>
            </h1>
        </li>
    </ul>
    <div style="clear: both"></div>
</div>

<div class="certificate-verification-screen hidden" id="certificate-verification-certificate-without-endorsement">
    {{ variables.texts['help-certificate-only'] | raw }}
    <form>
        <div class="form-row">
            <label>
                Certificate number *
            </label>
            <input type="text" size="60" name="certificateNumber"/>
        </div>
        <div class="form-row">
            <label>
                Holder name *
            </label>
            <input type="text" size="60" name="holderName"/>
        </div>
        <div class="form-row">
            <label>
                Holder surname *
            </label>
            <input type="text" size="60" name="holderSurname"/>
        </div>
        {% if variables.captcha_key %}
        <div class="form-row captcha">
            <label>
                Confirm that you are not robot *
            </label>
            <div class="g-recaptcha" id="certificate-only-captcha"></div>
            <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha">
        </div>
        {% endif %}
        <div class="form-row">
            <input type="submit" value="{{ variables.texts['button-submit'] }}"/>
        </div>
    </form>

</div>

<div class="certificate-verification-screen hidden" id="certificate-verification-certificate-with-endorsement">
    {{ variables.texts['help-certificate-with-endorsment'] | raw }}
    <form>
        <div class="form-row">
            <label>
                Certificate number *
            </label>
            <input type="text" size="60" name="certificateNumber"/>
        </div>
        <div class="form-row">
            <label>
                Endorsement number *
            </label>
            <input type="text" size="60" name="endorsementNumber"/>
        </div>
        <div class="form-row">
            <label>
                Holder name *
            </label>
            <input type="text" size="60" name="holderName"/>
        </div>
        <div class="form-row">
            <label>
                Holder surname *
            </label>
            <input type="text" size="60" name="holderSurname"/>
        </div>
        {% if variables.captcha_key %}
        <div class="form-row captcha">
            <label>
                Confirm that you are not robot *
            </label>
            <div class="g-recaptcha" id="certificate-with-endorsement-captcha"></div>
            <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha">
        </div>
        {% endif %}
        <div class="form-row">
            <input type="submit" value="{{ variables.texts['button-submit'] }}"/>
        </div>
    </form>

</div>

<div class="certificate-verification-screen hidden" id="certificate-verification-endorsement-only">
    {{ variables.texts['help-endrosement-only'] | raw }}
    <form>
        <div class="form-row">
            <label>
                Endorsement number *
            </label>
            <input type="text" size="60" name="endorsementNumber"/>
        </div>
        <div class="form-row">
            <label>
                Holder name *
            </label>
            <input type="text" size="60" name="holderName"/>
        </div>
        <div class="form-row">
            <label>
                Holder surname *
            </label>
            <input type="text" size="60" name="holderSurname"/>
        </div>
        {% if variables.captcha_key %}
        <div class="form-row captcha">
            <label>
                Confirm that you are not robot *
            </label>
            <div class="g-recaptcha" id="endorsement-only-captcha"></div>
            <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha">
        </div>
        {% endif %}
        <div class="form-row">
            <input type="submit" value="{{ variables.texts['button-submit'] }}"/>
        </div>
    </form>

</div>

<div class="certificate-verification-screen hidden" id="certificate-verification-results"></div>

{% verbatim %}
<script id="certificate-verification-results-template" type="text/x-jsrender">

    {{if certificate_number}}

    <h3>Certificate</h3>

    <table>
        <tr>
            <td>Holder (name, surname)</td>
            <td>{{:holder_name}} {{:holder_surname}}</td>
        </tr>
        <tr>
            <td>Certificate number</td>
            <td>{{:certificate_number}}</td>
        </tr>
        <tr>
            <td>
                {{if endorsement_number}}
                    Capacity
                {{else}}
                    Qualification
                {{/if}}
            </td>
            <td>{{:certificate_name}}</td>
        </tr>
        {{if certificate_status}}
        <tr>
            <td>Status</td>
            <td>{{:certificate_status}}</td>
        </tr>
        {{/if}}
        {{if certificate_valid_till}}
        <tr>
            <td>Valid till</td>
            <td>{{:certificate_valid_till}}</td>
        </tr>
        {{/if}}
        <tr>
            <td>Date of issue</td>
            <td>{{:certificate_issued_at}}</td>
        </tr>
        {{if certificate_description}}
        <tr>
            <td>Regulation of the STCW</td>
            <td>{{:certificate_description}}</td>
        </tr>
        {{/if}}
    </table>

    {{/if}}

    {{if endorsement_number}}

    <h3>Endorsement</h3>

    <table>
        <tr>
            <td>Endorsement number</td>
            <td>{{:endorsement_number}}</td>
        </tr>
        <tr>
            <td>Date of issue</td>
            <td>{{:endorsement_issued_at}}</td>
        </tr>
        {{if endorsement_valid_till}}
        <tr>
            <td>Valid till</td>
            <td>{{:endorsement_valid_till}}</td>
        </tr>
        {{/if}}
        {{if endorsement_description}}
        <tr>
            <td>Regulation of the STCW</td>
            <td>{{:endorsement_description}}</td>
        </tr>
        {{/if}}
    </table>

    {{if endorsement_domain.Functions && endorsement_domain.Functions.length}}

    <h3>Functions</h3>

{% endverbatim %}

    {{ variables.texts['description-functions'] | raw }}

{% verbatim %}

    <table class="three-columns">
        <thead>
            <tr>
                <th>Function</th>
                <th>Level</th>
                <th>Limitations</th>
            </tr>
        </thead>
        <tbody>
            {{for endorsement_domain.Functions}}
            <tr>
                <td>{{:Function}}</td>
                <td>{{:Level}}</td>
                <td>{{if Limitation}}{{:Limitation}}{{else}}-{{/if}}</td>
            </tr>
            {{/for}}
        </tbody>
    </table>

    {{/if}}

    {{if endorsement_domain.Capacities && endorsement_domain.Capacities.length}}

    <h3>Capacities</h3>

{% endverbatim %}

    {{ variables.texts['description-capacities'] | raw }}

{% verbatim %}

    <table class="three-columns">
        <thead>
            <tr>
                <th>Capacity</th>
                <th>Limitations</th>
            </tr>
        </thead>
        <tbody>
            {{for endorsement_domain.Capacities}}
            <tr>
                <td>{{:Capacity}}</td>
                <td>{{if Limitation}}{{:Limitation}}{{else}}-{{/if}}</td>
            </tr>
            {{/for}}
        </tbody>
    </table>

    {{/if}}

    {{/if}}

    <button class="print" onclick="javascript:window.print()">Print</button>

</script>
{% endverbatim %}

<div class="certificate-verification-footer" id="certificate-verification-help">
    {{ variables.texts.help | raw }}
</div>

<span class="certificate-timestamp">
    {{ variables.time }}
</span>

