<div class="column"{{ attributes|without('role', 'aria-labelledby') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{% if title_link %}<a href="{{ title_link }}">{{ label }}</a>{% else %}{{ label }}{% endif %}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>