<div{{ attributes.addClass('text-block home front-page') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="content">
    <h1 class="wave">{{ label }}</h1>
    {{ content }}
    <a href="#"> {% trans %}Learn more{% endtrans %}</a>
  </div>
</div>
<div style="clear:both"></div>