<div class="header-container home">
    <div class="container">
        {{ page.header }}
        {# todo: export to block? #}
        <div class="social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="container">
        {{ page.content }}
        {#
        <div class="text-block home">
            <h1 class="wave">Sveicināti</h1>
            <p>
                Mēs rūpējamies, lai Latvijas karoga kuģi atbilst augstiem drošības un tehniskajiem standartiem. Mūsu
                valsts
                ostas un kuģi tajās tiek ekspluatēti droši, kuģu ceļi ir pilnībā uzmērīti un aprīkoti ar moderniem
                navigācijas līdzekļiem, Latvijas jūrnieku kvalifikācija un kompetence ir viena no augstākajām starp ES
                dalībvalstīm.
            </p>
            <a href="#"> Learn more</a>
        </div>
        <div class="blue-circle">
            <img src="/img/phone.png">
            <h2 class="wave">670 994 19</h2>
            <p>Informācijas talrunis<br>jurniekiem</p>
        </div>
        <div class="wrap">
            <div class="block vertical">
                <div class="border">
                    <div>
                        <div class="wrapper-text">
                            <h2>Map<br>Shop</h2>
                        </div>
                    </div>
                    <div>
                        <img src="/img/map.png">
                    </div>
                </div>
                <div class="background"><img src="/img/block-1.png" alt=""></div>
            </div>
            <div class="block horizontal">
                <div class="border">
                    <div>
                        <h2 class="wave">Jurnieks</h2>
                    </div>
                    <div><img src="/img/book.png"></div>
                </div>
                <div class="background"><img src="/img/block-2.png" alt=""></div>
            </div>
            <div class="block small">
                <div class="border">
                    <div>
                        <img class="one" src="/img/union.png">
                    </div>
                </div>
            </div>
        </div>#}
    </div>
</div>

{#
<div id="page-wrapper">
    <div id="page">
        <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
            <div class="section layout-container clearfix">
                {{ page.header }}
            </div>
        </header>
        <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
            <div id="main" class="layout-main clearfix">
                <main id="content" class="column main-content" role="main">
                    <section class="section">
                        <a id="main-content" tabindex="-1"></a>
                        {{ page.content }}
                    </section>
                </main>
                {% if page.sidebar %}
                    <div id="sidebar-first" class="column sidebar">
                        <aside class="section" role="complementary">
                            {{ page.sidebar }}
                        </aside>
                    </div>
                {% endif %}
            </div>
        </div>
        <footer class="site-footer">
            <div class="layout-container">
                {{ page.footer }}
            </div>
        </footer>
    </div>
</div>
#}

<div class="footer">
    <div class="container">
        {{ page.footer }}
        {#
        <div class="column">
            <h2 class="wave">Par LJA</h2>
            <div class="col">
                <ul>
                    <li><a href="#">Par mums</a></li>
                    <li><a href="#">Iepirkumi</a></li>
                    <li><a href="#">Budžets</a></li>
                    <li><a href="#">Vakances</a></li>
                    <li><a href="#">Cenrādis</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="#">Statistika</a></li>
                    <li><a href="#">Preses relīzes</a></li>
                    <li><a href="#">Pieņemšanas laiki</a></li>
                    <li><a href="#">Kontaktinformācija</a></li>
                    <li><a href="#">Noderīga informācija</a></li>
                </ul>
            </div>
        </div>
        <div class="column">
            <h2>Likumdošana</h2>
            <ul>
                <li><a href="#">ES dokumenti</a></li>
                <li><a href="#">IMO dokumenti</a></li>
                <li><a href="#">IMO un ILO dokumenti</a></li>
                <li><a href="#">Latvijas Republikas dokumenti</a></li>
            </ul>
        </div>
        <div class="column">
            <h2>Žurnāls Jūrnieks</h2>
            <ul>
                <li><a href="#">Formas</a></li>
            </ul>
        </div>
        <div class="column">
            <h2>Sazinies ar mums:</h2>
            <p>VAS “Latvijas Jūras administrācija'</p>
            <p>Trijādības iela 5, Rīga, LV-1048</p>
            <p>Tālrunis: 67062101</p>
            <p>Fakss: 67860082</p>
            <a href="mailto:lja@lja.lv" target="_top">lja@lja.lv</a>
        </div>
        #}
    </div>
</div>