{{  background_image }}
<div class="content-wrapper">
  <div class="upper-header">
    <div class="container">
      {{ page.top }}
      <div class="sitemap">
        <a href="#">Par mums</a>
      </div>
      <div class="social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="header-container home">
    <div class="shadow">
      <div class="container">
        {{ page.header }}
      </div>
    </div>
  </div>
  {% if page.menu %}
  <div class="menu-bar-container" id="sub-menu">
    <div class="container">
      {{ page.menu }}
    </div>
  </div>
  <div class="menu-bar-container visible relative">
    <div class="container">
      {{ page.menu }}
    </div>
  </div>
  {% endif %}
  <div class="content-container page">
    <div class="container">
      <div class="text-block">
        {{ page.content }}
      </div>
      {% if page.sidebar %}
      <div class="bar-menu">
        {{ page.sidebar }}
      </div>
      {% endif %}
      <div style="clear:both"></div>
    </div>
  </div>
</div>
<div class="footer-wrapper">
  <div class="footer">
    <div class="container">
      {{ page.footer }}
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      Latvijas JÅ«ras administrÄcija &copy; 2016
    </div>
  </div>
</div>
