{{  background_image }}
<div class="content-wrapper">
    <div class="upper-header">
        <div class="container">
            {{ page.top }}
            {# todo: export to block? #}
            <div class="sitemap">
                <a href="#">Par mums</a>
            </div>
            <div class="social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="header-container home">
        <div class="shadow">
            <div class="container">
                {{ page.header }}
            </div>
        </div>
    </div>
    <div class="menu-bar-container" id="sub-menu">
        <div class="container">
            {{ page.menu }}
        </div>
    </div>
    <div class="content-container home">
        <div class="container">
            {{ page.content }}
        </div>
    </div>
</div>
<div class="footer-wrapper">
    <div class="footer front">
        <div class="container">
            {{ page.footer }}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            Latvijas Jūras administrācija &copy; 2016
        </div>
    </div>
</div>